body{
    background: #f0efee url("../assets/img/beijing.jpg") repeat;
}
.logo{
    color: darkgreen;
    text-align: center;
    height: 50px;
    font-family: 'Pacifico', cursive;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    margin: 0 auto;
}

.linkall {
margin: 100px auto;
    /*border: darkgreen;*/
    text-align: center;
    color: #d54f8c;
    width: 60%;
}

.linkall h3{
color: #d54f8c
}

.navigation{
    width: 200px;
    text-align: left;
    position: absolute;
    bottom: 24px;
    right: 100px;
}
.navigation h3{color: #d54f8c}
.navigation textarea{
border: darkgreen 1px solid;
    border-radius: 10px;
}

.login-info{
    margin: auto;
    /*width: 30%;*/
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-info form{
    width: 26%;
}
.login-info form .btn-primary{
    margin: 0 auto;
    display: block;
}
.login-info .register{
    width: 60px;
    margin: 0 auto;
}
.login-status{
    height: 30px;

    border-radius: 0 0 0 10px;
}
.login-status a{
    text-decoration: none;
    color: white;
}
.login-status a:hover{
    color: coral;
}
.feedback{
    border-radius: 5px;
    padding-left: 10px ;
    box-shadow: 4px 4px 9px #fff3cd;

}
.help-list{
    height: 80%;
    width: 500px;
    border-right: 3px solid #d54f8c;
    text-align: right;
}
.help-list li{
    margin: 40px 16px;
}
.help-list a{
    color: white;
    text-decoration: none;
}
.help-list a:hover{
    color: #d54f8c;
}