{% extends 'base.html' %}
{% block title %}
主页
{% endblock %}
{% block style %}
    <style>
        table{
        margin: 50px auto;
        }
        table th{
            width: 100px;
        }
        table tr{
            height: 40px;
        }
        table .list_name{
            width: 200px;

        }
        table .btn{
            width: 100px;
        }
    </style>
{% endblock %}
    {% load static %}
    {% block content %}

        <div class="linkall">
            <h3>欢迎使用传送门</h3>
{#            <button type="button" class="btn btn-primary" id="get-link-all" onclick="get_link_all()">获取列表</button>#}
    <table>
        <th>链接</th>
        <th>修改操作</th>
        <th>删除操作</th>
        {% for list in data %}
            <tr>
                <td class="list_name"><a href="{{ list.href }}">{{ list.name }}</a></td>
                <td>
                  <div class="btn">
                      <a class="btn btn-primary" href="">修改</a>
                      <a class="btn btn-danger" href="{% url 'del_project' list.id %}">删除</a>
                  </div>
                </td>

            </tr>
        {% endfor %}
    </table>

        <div class="navigation">
{#            <form action=""></form>#}
            <h3>欢迎吐槽</h3>
            <label for="feedback"></label><textarea style="background: transparent" name="feedback" id="feedback" cols="30" rows="10" placeholder="匿名吐槽，畅所欲言"></textarea>
        <button type="button" class="btn btn-primary" id="feedback_submit" onclick="feedback()">提交意见</button>
        </div>
        </div>
            {% endblock %}
<script>
        window.jQuery || document.write("<script src='{% static "js/jquery-1.11.0.min.js" %}'><\/script>")
        function feedback() {
            $.get("/feedback/",{
                "feedback_value":document.getElementById('feedback').value,
            },function () {
                alert('已成功吐槽！')
            })
        }
        function get_link_all() {
            $.get('/linkall/')
        }
        function del_prolist(id){
            del_status = confirm("确定要删除此项目吗")
            if (del_status){
                $.get('',{'id':id},function () {
                    document.location.reload()
                })
        }}

</script>