{% extends 'base.html' %}

{% block title  %}
接口详情
{% endblock %}
{% block style %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <h1 style="color: white;margin: 0 auto;display: block">接口库</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'project_list' %}">项目列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">项目设置</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">用例库</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">接口库</a>
  </li>
</ul>

{% endblock %}